<?
if(isset($_POST['btn-save'])) {
    $ntitle = $_POST['ntitle'];
    $ntext = $_POST['ntext'];
    $nautor = $_POST['nautor'];
    $ndate = $_POST['ndate'];

    if($this->create($ntitle, $ntext, $nautor, $ndate)) {
        header("location: /index/add?inserted");
    } else {
        header("location: /index/add?failure");
    }
}
?>
<? require_once('head.phtml') ?>
    <div class="clearfix"></div>
<?
if(isset($_GET['inserted'])) {
    ?>
    <div class="container">
        <div class="alert alert-info">
            <strong>Новина успішно добавлена!</strong><a href="index">&nbsp;НАЗАД</a>!
        </div>
    </div>
<?
} else if(isset($_GET['failure'])) {
    ?>
    <div class="container">
        <div class="alert alert-warning">
            <strong> Виникла помилка!</strong>
        </div>
    </div>
<?
}
?>
    <div class="clearfix"></div><br/>
    <div class="container">
        <form method="post">
            <table class="table table-bordered">
                <tr>
                    <td>Назва новини</td>
                    <td><input type="text" name="ntitle" placeholder="Введіть заголовок новини" class="form-control" required /></td>
                </tr>
                <tr>
                    <td>Текст новини</td>
                    <td><textarea id="ntext" name="ntext" class="form-control" rows="7" placeholder="Введіть саму новину до 3000 символів" minlength="20" maxlength="3000" required="required"></textarea></td>
                </tr>
                <tr>
                    <td>Автор</td>
                    <td><input type="text" name="nautor" class="form-control" required /></td>
                </tr>
                <tr>
                    <td>Дата</td>
                    <td><input type="date" class="form-control" id="date" name="ndate" placeholder="Дата" required></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-primary" name="btn-save">
                            <span class="glyphicon glyphicon-plus"></span>Добавити
                        </button>
                        <a href="/index/news" class="btn btn-large btn-success"><i class="glyphicon glyphicon-backward"></i>&nbsp;На головну</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
<? require_once('footer.phtml') ?>