<?
if(isset($_POST['btn-del'])) {
$id = $_GET['delete_id'];

$this->delete_news($id);
header("location: /index/delete?deleted");
}
?>
<? require_once('head.phtml') ?>
<div class="clearfix"></div>
<div class="container">
    <?
    if(isset($_GET['deleted'])) {
        ?>
        <div class="alert alert-success">
            <strong>Успішно!</strong> Новина була видалена!
        </div>
    <?php
    } else {
        ?>
        <div class="alert alert-danger">
            <strong>Ви впевнені !</strong> що хочете видалити новину ?
        </div>
    <?php
    }
    ?>
</div>
<div class="clearfix"></div>

<div class="container">
    <div class="col-sm-8 blog-main">
        <? if(isset($_GET['delete_id'])) {
            $nid = $_GET['delete_id'];
            extract($this->getID($nid));
        }?>
            <div class="blog-post">
                <h2 class="blog-post-title"><? echo $ntitle; ?></h2>
                <p class="blog-post-meta"><? echo $ndate; ?> <a href="#"><? echo $nautor; ?></a>
                    <a href="/index/edit?edit_id=<? echo $nid; ?>"><i class="glyphicon glyphicon-edit"></i></a>


                <p><? echo $ntext; ?></p>
            </div>
    </div>


</div>
<div class="container">
    <p>
        <?
        if(isset($_GET['delete_id'])) {
        ?>
    <form method="post">
        <input type="hidden" name="id" value="<? echo $_GET['delete_id']; ?>" />
        <button class="btn btn-large btn-primary" type="submit" name="btn-del"><i class="glyphicon glyphicon-trash"></i>&nbsp;ТАК</button>
        <a href="/index/news" class="btn btn-large btn-success"><i class="glyphicon glyphicon-backward"></i>&nbsp;НІ</a>
    </form>
    <?
    } else {
        ?>
        <a href="/index/news" class="btn btn-large btn-success"><i class="glyphicon glyphicon-backward"></i>&nbsp;Повернутися назад!</a>
    <?
    }
    ?>
    </p>
</div>