<?
if(isset($_POST['btn-update'])) {
    $nid = $_GET['edit_id'];
    $ntitle = $_POST['ntitle'];
    $ntext = $_POST['ntext'];
    $nautor = $_POST['nautor'];
    $ndate = $_POST['ndate'];

    if($this->update($nid, $ntitle, $ntext, $nautor, $ndate)) {
        $sms = "<div class='alert alert-info'>
                <strong>Запис успішно редаговано!</strong>
                <a href='/index/news'>Назад</a>!</div>";
    } else {
        $sms = "<div class='alert alert-warning'>
                <strong>Помилка! Не вдалося зберегти зміни</strong>
                </div>";
    }
}
if(isset($_GET['edit_id'])) {
    $nid = $_GET['edit_id'];
    extract($this->getID($nid));
}
?>
<? require_once('head.phtml') ?>
    <div class="clearfix"></div>
    <div class="container">
        <?php
        if(isset($sms)) {
            echo $sms;
        }
        ?>
    </div>
<div align="center"><strong>Редагування новини</strong></div>
    <div class="clearfix"></div><br/>
    <div class="container">
        <form method="post">
            <table class="table table-bordered">
                <tr>
                    <td>Назва новини</td>
                    <td><input type="text" name="ntitle" value="<? echo $ntitle; ?>" class="form-control" required /></td>
                </tr>
                <tr>
                    <td>Текст новини</td>
                    <td><textarea id="ntext" name="ntext" class="form-control" rows="7"  minlength="20" maxlength="3000"  required><? echo $ntext; ?></textarea></td>
                </tr>
                <tr>
                    <td>Автор</td>
                    <td><input type="text" name="nautor" class="form-control" value="<? echo $nautor; ?>" required /></td>
                </tr>
                <tr>
                    <td>Дата</td>
                    <td><input type="date" class="form-control" id="date" name="ndate"  value="<? echo $ndate; ?>" required></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary" name="btn-update">
                            <span class="glyphicon glyphicon-edit"></span>Зберегти
                        </button>
                        <a href="/index/news" class="btn btn-large btn-success"><i class="glyphicon glyphicon-backward"></i>&nbsp; Назад</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
<? require_once('footer.phtml') ?>