<? require_once('head.phtml') ?>
    <div class="container">
        <a href="/index/add" class="btn btn-large btn-info"><i class="glyphicon glyphicon-plus"></i> &nbsp; Добавити
            новину</a>
    </div>
    <div class="clearfix"></div><br/>

    <div class="container">
        <div class="col-sm-8 blog-main">
            <? foreach ($this->select($_GET['page_no']) as $Post) {
                ?>
                <div class="blog-post">
                    <h2 class="blog-post-title"><? echo htmlspecialchars($Post->ntitle); ?></h2>
                    <p class="blog-post-meta">Дата: <? echo $Post->ndate ?> Автор: <? echo htmlspecialchars($Post->nautor); ?>
                        <a href="/index/edit?edit_id=<? echo $Post->nid ?>"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="/index/delete?delete_id=<? echo $Post->nid ?>"><i class="glyphicon glyphicon-remove-circle"></i></a></p>

                    <p><? echo htmlspecialchars($Post->ntext); ?></p>
                </div>
            <? } ?>
            <div class="pagination-wrap">
                <? $this->paginglink(); ?>
            </div>
        </div>
    </div>
<? require_once('footer.phtml') ?>